/* styles.css */

/* Media Query para pantallas móviles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .banner-title h1 {
        font-size: 2em;
    }

    .banner-title h2 {
        font-size: 1em;
    }

    .banner-text p {
        font-size: 1em;
    }

    main {
        padding: 10px;
    }

    #productos {
        grid-template-columns: 1fr; /* Una sola columna */
        gap: 15px;
    }

    .producto img {
        max-width: 80%;
    }

    h2 {
        font-size: 1.2em;
    }

    .precio {
        font-size: 1em;
    }

    footer {
        padding: 15px;
        font-size: 0.8em;
    }
}
